#root {
  display: flex;
  align-items: center;
  justify-content: right;

}

.upload-form {
  text-align: right;
  padding: 5px;
}

.upload-form-button {
  margin-top: 5px;
  width: 100%;
  height: 2rem;
}

input[type = "file"] {
  margin-top: 5px;
  width: 100%;
}